<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            <img src="{{ post.author.avatar(36) }}">
        </td>
        <td>
            {% set userlink %}
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            {{ _("%(username)s said %(when)s", username=userlink, when=moment(post.timestamp).fromNow()) }}<br>
            <i>{{ post.body }}</i>
        </td>
    </tr>
</table>
